<h1>Lista de productos en tiempo real</h1>
<ul id="products-list"></ul>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const productsList = document.getElementById('products-list');

  // Recibir productos del servidor
  socket.on('products', (products) => {
    productsList.innerHTML = '';
    products.forEach(product => {
      const li = document.createElement('li');
      li.textContent = `${product.name} - ${product.price}`;
      productsList.appendChild(li);
    });
  });
</script>
